body {
  margin-top: 125px;
  background: url('img/space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Rationale', sans-serif;
  font-size: 40px;
  color:  #59E817;
  text-align: center;
}

input {
  font-size: 25px;

}

h1 {
  text-align: center;
  font-size: 60px;
}

p {

  font-size: 40px;
  color: #FFF;
  font-family: 'Permanent Marker', cursive;
}

button {
    color:  #59E817;
}
